{
	"tabWidth": 2,
	"semi": true,
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"bracketSpacing": true,
	"arrowParens": "always",
	"printWidth": 100,
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/constants/(.*)$",
		"^@/utils/(.*)$",
		"^@/hooks/(.*)$",
		"^@/api/(.*)$",
		"^@/services/(.*)$",
		"^@/providers/(.*)$",
		"^@/assets/(.*)$",
		"^@/styles/(.*)$",
		"^@/components/(.*)$",
		"^@/pages/(.*)$",
		"^../(.*)$",
		"^./(.*)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports"]
}
