$layout-padding: 40px;
$primary-font: 'Inter', sans-serif;
$bg-primary: #e7f6ff;
$bg-secondary: #ffffff;
$black: #181c14;
$white: #fff;
$primary-color: #a5d364;
$gray-icon: #b2b2b2;
$gray-text: #454545;
$gray-border: #eaeaea;
