@use '@/styles/variables' as *;

.button {
  cursor: pointer;
  display: block;
  text-decoration: none;
  border: none;
  font-size: 16px;
  border-radius: 10px;
  font-family: $primary-font;
  transition: all 150ms ease-in-out;

  &.primary {
    color: $white;
    background: $primary-color;

    &:hover {
      background: #2c746e;
    }
  }

  &.outline {
    color: $primary-color;
    background: $white;
    border: 2px solid $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;

    &:hover {
      background: #2c746e;
      color: $white;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  &__preffix,
  &__suffix {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.small {
    padding: 10px 20px;
  }

  &.medium {
    padding: 12px 40px;
  }

  &.lg {
    padding: 15px 80px;
  }

  &.full {
    width: 100%;
    padding: 15px;
  }
}
