@use '@/styles/variables' as *;

.button {
  cursor: pointer;
  text-decoration: none;
  border: none;
  color: $white;
  background: $primary-color;
  font-size: 16px;
  border-radius: 20px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  &__preffix,
  &__suffix {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.small {
    padding: 10px 20px;
  }

  &.medium {
    padding: 10px 40px;
  }

  &.full {
    width: 100%;
    padding: 15px;
  }
}
