@use '@/styles/variables' as *;

.wrapper {
  background-color: $bg-secondary;
  border-radius: 20px;
  margin: 50px auto;
  max-width: 1080px;

  .content {
    min-height: 100vh;
    padding: $layout-padding;
  }
}
