@use '@/styles/variables' as *;

.header {
  padding: $layout-padding;
  border-bottom: 2px solid $gray-border;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
